h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: auto 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-ul {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.header-navbar-light, .toggle-menu-button-light {
  background-color: #b9b9b9;
}

.header-navbar-dark, .toggle-menu-button-dark {
  background-color: #353535;
}

.closed-menu-dark {
  background-color: #242424;
}

.closed-menu-light {
  background-color: #efefef;
}

.open-menu {
  transform: rotate(180deg);
}

.toggle-menu-button {
  border-radius: 0;
  padding: 10px;
  transition: 200ms;
}

.toggle-menu-button-light::before {
  content: url("../../assets/images/arrow-light-20.svg");
}

.toggle-menu-button-dark::before {
  content: url("../../assets/images/arrow-dark-20.svg");
}

.toggle-mode-button {
  background-color: unset;
}

.toggle-mode-button-light::before {
  content: url("../../assets/images/light-mode.svg");
}

.toggle-mode-button-dark::before {
  content: url("../../assets/images/dark-mode.svg");
}

.font-size-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.font-size-button {
  font-size: 1.5rem;
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  padding: 0 20px 0 20px;
}

label {
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.font-size-control {
  display: flex;
  gap: 10px;
}

ul {
  padding: 10px;
  margin: 0;
  width: 50vw;
}
