.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

.light-mode {
  background-color: var(--white);
  color: var(--black);
}

.text-display {
  text-align: justify;
  margin: auto 50px;
  overflow-y: scroll;
}

button {
  align-items: center;
  background-color: unset;
  color: inherit;
  display: flex;
  width: max-content;
}

.font-size-buttons {
  display: flex;
  justify-content: center;
}