.dark-mode {
  background-color: #242424;
  color: #efefef;
}

.light-mode {
  background-color: #efefef;
  color: #242424;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.text-display {
  text-align: justify;
  margin: auto 50px;
  padding-bottom: 25vh;
  position: relative;
  overflow-y: scroll;
}

.buttons-container {
  align-items: center;
  background-color: darkgray;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: max-content;
  justify-content: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}

button {
  align-items: center;
  background-color: unset;
  color: inherit;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: max-content;
}

.font-size-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.toggle-mode-button {
  background-color: unset;
  padding: 0;
}

.toggle-mode-button-light::before {
  content: url("./assets/images/light-mode.svg");
}

.toggle-mode-button-dark::before {
  content: url("./assets/images/dark-mode.svg");
}

.clear-preferences-button {
  background-color: unset;
  border: solid 1px black;
  font-size: .75rem;
}

.clear-preferences-button-light::before {
  content: url("./assets/images/clear-light.svg");
}

.clear-preferences-button-dark::before {
  content: url("./assets/images/clear-dark.svg");
}

.font-size-button {
  font-size: 2rem;
  padding: 0;
}

.font-size-range {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 60vw;
}

.header-buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.hide {
  display: none;
  position: absolute;
  top: 50%;
}

.show {
  display: block;
}

ul {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}
