.dark-mode {
  background-color: #242424;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.text-display {
  text-align: justify;
  margin: 0 50px;
}

.buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.font-size-buttons {
  display: flex;
  gap: 10px;
}

.toggle-mode-button {
  background-color: unset;
  position: absolute;
  right: 25px;
  top: 25px;
}

.toggle-mode-button-light::before {
  content: url("./assets/images/light-mode.svg");
}

.toggle-mode-button-dark::before {
  content: url("./assets/images/dark-mode.svg");
}