:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --black: #242424;
  --dark-gray: #353535;
  --light-gray: #b9b9b9;
  --white: #efefef;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: auto 0;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

